<!-- PARTIALS LIKE MAIN JUST NEED THE ELEMENTS THEY NEED
INDEX TAKES CARE OF THE ENTIRE FRAME (DOCTYPE, HEAD, NAV, FOOTER...) -->

<!---------------------------------------------------------->
<!-- INPUT FORM W/ NG-SHOW/HIDE: CALLS POST() IN API.JS   -->
<!---------------------------------------------------------->
<form ng-Submit="post()" ng-show="authenticated">
  <!-- $scope.variables are available here -->
  <!-- <input required type="text" class="form-control" placeholder="Your name" ng-model="newPost.created_by"/> -->
  <!-- <h4>{{current_user}}'s Projects'</h4>   -->
  <h4>Add Project</h4>

      <!-- OLD WAS TEXT AND TEXT2 ONLY -->
      <!-- <textarea required placeholder="text" ng-model="newPost.text"></textarea>
      <textarea required placeholder="text2" ng-model="newPost.text2"></textarea> -->

      <!-- NEW ALL FIELDS  -->
     <input required placeholder="Project Name" ng-model="newPost.project"></textarea>
     <input type='number' placeholder="In what order should this work sample appear (ie 1, 2...)" ng-model="newPost.displayOrder">
     <input required placeholder="description" ng-model="newPost.description"></textarea>
     <input  required placeholder="Technologies used (comma separated)" ng-model="newPost.tags"></textarea>
     <input  placeholder="Live site url (ie http://...)" ng-model="newPost.siteLink" type='url' required pattern="https?://.+"></textarea>
     <input  required placeholder="Small preview image (url)" ng-model="newPost.cardImage"></textarea>
     <input  required placeholder="cardCaption" ng-model="newPost.cardCaption"></textarea>
     <input   placeholder="image1 url" ng-model="newPost.image1"></textarea>
     <input   placeholder="image1Caption" ng-model="newPost.image1Caption"></textarea>
     <input   placeholder="image2 url" ng-model="newPost.image2"></textarea>
     <input   placeholder="image2Caption" ng-model="newPost.image2Caption"></textarea>
     <input   placeholder="image3 url" ng-model="newPost.image3"></textarea>
     <input   placeholder="image3Caption" ng-model="newPost.image3Caption"></textarea>
     <input   placeholder="image4 url" ng-model="newPost.image4"></textarea>
     <input   placeholder="image4Caption" ng-model="newPost.image4Caption"></textarea>

     <input  placeholder="description1" ng-model="newPost.description1"></textarea>
     <input  placeholder="description2" ng-model="newPost.description2"></textarea>
     <input  placeholder="testimonial" ng-model="newPost.testimonial"></textarea>
     <!-- created_by and created_at automatically populated  -->
     <input type="submit" value="Save" />
</form>

<!--------------------->
<!--  HERO IMAGE     -->
<!--------------------->
<div class="section" id="hero-image" ng-hide="authenticated">
    <div class="row">
       <div id="hero-text">
        <h3 id="hero-heading">Junior Front End Developer</h3>
        <h5 id="hero-subheading">HTML5, CSS3, Javascript, MEAN Stack...</h5>
      </div>
    </div>
</div> <!-- END HERO IMAGE AREA -->


<!--------------------->
<!--  POST CARDS     -->
<!--------------------->
<section id='portfolio'>
   <div class="wrapper card-section">
      <!-- <h3 class="yellow-underline">Portfolio</h3> -->
      <h4 class="yellow-underline">Work Samples</h4>
      <div class="row">

         <!-- <div class="post" ng-repeat="post in posts | orderBy:'displayOrder'"> -->
         <div class="" ng-repeat="post in posts | orderBy:'displayOrder'">

            <a href="#/project/"> <!-- MAY UPDATE TO "/#project/{{_id}}" & TAKE ID FROM CURRENT POST? -->
              <div id="card-column" class="col s12 m6 l4">
                <div class="card medium hoverable"> <!-- add "large"? -->
                  <div class="card-image">
                    <img src="{{post.cardImage}}">
                  </div>
                  <div class="card-content">
                     <h5>{{post.project}}</h5>
                     <p>{{post.description}}</p>
                  </div>
                  <div class="card-action">
                    <p>{{post.tags}}</p>
                  </div>
                </div>
              </div>
           </a>


        </div> <!-- end posts -->
     </div> <!-- end row -->
  </div>
</section> <!-- end portfolio section -->



<!--------------------------------->
<!-- ABOUT, SKILLS, TESTIMONIALS -->
<!--------------------------------->
<section ng-hide="authenticated">
  <div class="wrapper about-section">
  <!-- <section id="about-section"> -->

  <div class="row">

     <!--   ABOUT   -->
     <div id="three-column" class="col s12 m12 l4">
        <h4 class="yellow-underline">About</h4>
          <p>Adam is a Chicago-based junior developer with an Information Systems BA and years of experience as a webmaster, office manager and communications coordinator. He has a passion for coding, learning, visual design, and helping others.</p>
    </div>


    <!--   SKILLS  -->
  <div class="col s12 m12 l4 " id="three-column" >
     <h4 class="yellow-underline">Skills</h4>
      <h6>Front End</h6>
      <p>HTML5, CSS/LESS, Javascript/JQuery, AngularJS, Materialize</p>
      <h6>Full Stack</h6>
      <p>HTML5, CSS/LESS, Javascript/JQuery, AngularJS, Materialize</p>
      <h6>General Technical</h6>
      <p>HTML5, CSS/LESS, Javascript/JQuery, AngularJS, Materialize</p>
   </div>


  <!--   TESTIMONIALS  -->
  <div class="col s12 m12 l4" id="three-column" >
     <h4 class="yellow-underline">Testimonials</h4>
      <p>
      This is an example quotation that uses the blockquote tag. This is an example quotation that uses the blockquote tag. This is an example quotation that uses the blockquote tag.
      </p>
      <p class="align-right">- Megan Coleman, Megan Coleman Design</p>
      <p>
      This is an example quotation that uses the blockquote tag. This is an example quotation that uses the blockquote tag. This is an example quotation that uses the blockquote tag.
      </p>
      <p class="align-right">- Megan Coleman, Megan Coleman Design</p>
  </div>

</div>
</div>
<!-- </section> -->
</section>



      <!-- </div> <!-- end container --> -->
  <!-- </body>
</html> -->
